* {
  padding: 0%;
  margin: 0%;
}

.row {
  display: flex;
  background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/09/Free-Download-All-White-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.side {
  flex: 40%;
  margin-left: 20px;
}

.side h3 {
  margin: 10px 5px;
}

.slider-container {
  width: 300px;
  margin-left: 30px;
  padding: 10px 0px;
}

.canvas-dimensions {
  margin: 10px 5px;
}

.dimension-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 60px;
}

.dimension-unit {
  margin-left: 5px;
  color: rgb(0, 0, 0);
}
.slick-prev,
.slick-next {
  color: red; /* Set the desired color for the previous and next arrows */
}
.custom-prev-arrow,
.custom-next-arrow {
  color: red; /* Set the desired color for the previous and next arrows */
}
.button {
  margin: 2px 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color:  #00c853;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
}

#colorPicker {
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0px;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

#colorPicker::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.canvas-container {
  flex: 60%;
  margin: 30px 30px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  /* overflow: hidden; */
}
@media screen and (max-width: 748px) {
  #canvas{
    flex-direction: column;
  }
}

#canvas {
  position: absolute;
  margin: auto;
  background-color: #fff;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 748px) {
  .row{
    flex-direction: column;
  };
}

h3{
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: black;
}